
<div class="container">
  <div class="">
    <button class="btn btn-success float-right "> <i class="fa-solid fa-plus"></i> Add New User</button>
  </div>
  <!-- <p (click)="hideEmail()">a</p> -->
  <div class="card my-4">
    <div class="card-header ">
      <div class="dataTable-top">
        <div class="dataTable-dropdown"><label>
          <select class="dataTable-selector" [(ngModel)]="item">
              <option value=5>5</option>
              <option value=10>10</option>
              <option value=15>15</option>
              <option value=20>20</option>
              <option value=25>25</option>
            </select>
          entries per page</label>
          </div>

        <div class="dataTable-search " ><input class="dataTable-input" name="name" [(ngModel)]="name" (ngModelChange)="search()" placeholder="Search..." type="text"></div>
      </div>
    </div>
    <!-- <div class="card-body"> -->
      <table class="table ">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Date Of Birth</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userList | paginate: { itemsPerPage: item  , currentPage: page} ; let i = index ">
            <th scope="row">{{i+1}}</th>
            <td>{{user.firstname + " " + user.lastname}} </td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.dob}}</td>
            <td>
              <button class="btn btn-primary ">Edit</button>
              <button class="btn btn-danger ml-4">Edit</button>
            </td>

          </tr>
        </tbody>
      </table>
      <pagination-controls class="text-right" (pageChange)="page = $event"></pagination-controls>
    <!-- </div> -->
  </div>
