.container{
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.dataTable-top{
 display: flex;
 .dataTable-search input{
  position: absolute;
  right: 20px;
  padding: 0 10px;
 }
}
